output/*
Input/clip3.mp4
Input/clip4.mov
Input/clip5.mov
Input/clip6.mov
Input/dino.mp4
sources/*
prim/lib/*
tmp
benchmark_results.csv

# Editor directories and files
.DS_Store
__pycache__
.idea
.vscode